@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600&display=swap');

/* Variables */

:root {
    --orange: rgb(255, 90, 0);
}

/* General */

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Exo";
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

section {
    overflow-x: hidden;
}


/* Scroll Bars */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: black;
}

/*  on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}



/* Page Loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 40;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.loader img {
    position: absolute;
    width: 10%;
}

.loader-img1 {
    animation: loaderImg1 5s ease-in-out infinite;
}

@keyframes loaderImg1 {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-180deg);
    }

    40% {
        transform: rotate(360deg);
    }

    70% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.loader-img2 {
    animation: loaderImg2 5s ease-in-out infinite;
}

@keyframes loaderImg2 {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(180deg);
    }

    40% {
        transform: rotate(-360deg);
    }

    70% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}



/* Navbar */

.navbar {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    background-color: white;
    /* z-index: 10; */
    top: 0;
    transition: top 0.4s;
    z-index: 10;
}

.navbar img {
    padding-left: 20px;
    width: 5%;
    transition: 1s;
}

.navbar img:hover {
    transform: rotate(360deg);
}

.navbar i {
    position: absolute;
    right: 2%;
    top: 50%;
    color: black;
    font-size: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    transition: 0.2s ease;
}

.navbar i:hover {
    font-size: 30px;
}

.logo-text {
    position: absolute;
    left: 50%;
    display: flex;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.logo-text>div {
    width: 1px;
    height: 40px;
    /* background-color: black; */
    background-image: linear-gradient(rgba(109, 109, 109, 0), rgb(109, 109, 109), rgba(109, 109, 109, 0));
    margin: 0 10px;
}



.logo-text h1 {
    color: black;
    font-family: "Expletus Sans";
    font-weight: 500;
    font-size: 32px;
    margin: 0;
    letter-spacing: 3px;
}

.logo-text h2 {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    color: var(--orange)
}

.navbar-overlay {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 20;
    height: 0;
    width: 100%;
    transition: 1s;
    overflow: hidden;
}

.navbar-close {
    position: absolute;
    right: 2%;
    top: 5%;
    color: black;
    font-size: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    transition: 0.5s ease;
    opacity: 0;
    z-index: 30;
}

.navbar-close:hover {
    font-size: 30px;
}

.navbar-overlay-line {
    width: 5px;
    height: 0;
    background-color: black;
    transition: 2s;
    position: absolute;
}

.navbar-overlay>.navbar-overlay-line:nth-child(2) {
    left: 5vw;
}

.navbar-overlay>.navbar-overlay-line:nth-child(3) {
    right: 5vw;
    bottom: 0;
}

.navbar-orange-line {
    background-color: var(--orange);
    width: 5px;
    height: 80px;
    position: absolute;
}

.navbar-overlay>.navbar-orange-line:nth-child(4) {
    left: 5vw;
    animation: menuOrangeLine1 4s ease infinite;
}

.navbar-overlay>.navbar-orange-line:nth-child(5) {
    right: 5vw;
    bottom: 0;
    animation: menuOrangeLine2 4s ease infinite;
}

@keyframes menuOrangeLine1 {
    from {
        top: 0px
    }

    to {
        top: 100vh
    }
}

@keyframes menuOrangeLine2 {
    from {
        bottom: 0
    }

    to {
        bottom: 100vh
    }
}





.navbar-overlay-logo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 2s;
    height: 100vh;
}

.navbar-overlay-heading {
    text-align: center;
    opacity: 0;
    font-family: "Expletus Sans";
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 40px;
    transition: 2s;
    border-bottom: 2px solid var(--orange);
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-overlay-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;
    opacity: 0;
    transition: 1s;
}

.navbar-overlay-menu>div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 30px;
    border-left: 5px solid black;
}

.navbar-overlay-menu a {
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    margin: 5px 0;
    letter-spacing: 2px;
    font-family: "Expletus Sans";
    border-left: 2px solid transparent;
    transition: 0.6s;
    position: relative;
    left: -150%;
    transition: 1s;
}

.navbar-overlay-menu a:hover {
    padding-left: 20px;
    color: var(--orange);
    border-left: 2px solid rgb(109, 109, 109);
}








/* Home Landing Section */

.landing-section {
    height: 100vh;
    overflow: hidden;
}

#myVideo {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}


.landing-section .owl-carousel {
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
}

.owl-carousel .slide {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.slide h1 {
    position: relative;
    font-weight: 300;
    font-size: 45px;
    text-transform: uppercase;
}

.slide h1 span {
    font-size: 50px;
    color: var(--orange);
    font-weight: 400;
}

#slide1 h1,
#slide3 h1 {
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
}

#slide2 h1,
#slide4 h1 {
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}

#slide1 {
    background-image: url("../images/slides/slide1.jpg");
}

#slide2 {
    background-image: url("../images/slides/slide2.jpg");
}

#slide3 {
    background-image: url("../images/slides/slide3.jpg");
}

#slide4 {
    background-image: url("../images/slides/slide4.jpg");
}



/* General Sections */

.section-heading-left {
    justify-content: flex-end;
}

.section-heading-right {
    justify-content: flex-start;
}

.section-heading {
    display: flex;
    align-items: center;
}

.section-heading h1 {
    font-weight: 700;
    font-family: "Expletus Sans";
    font-size: 4vw;
}

.section-heading-left {
    padding-right: 7.5%;
}

.section-heading-right h1 {
    padding-left: 7.5%;
}

.section-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-text-right {
    padding: 5% 10% 5% 5%;
    border-left: 2px solid black;
}

.section-text-left {
    padding: 5% 5% 5% 10%;
    border-right: 2px solid black;
    text-align: right;
}


.section-grid {
    display: grid;
    height: 100%;
    padding: 5% 0;
}

.section-grid-left {
    grid-template-columns: 30% 70%;
}

.section-grid-right {
    grid-template-columns: 70% 30%;
}

.secondary-heading {
    text-align: center;
    font-weight: 500;
    font-family: "Expletus Sans";
    font-size: 3.5vw;
    border-bottom: 3px solid var(--orange);
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%) !important;
    padding-top: 50px;
}





/* About Section */

.about-section {
    background-color: white;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.about-section .section-text p:nth-child(4) {
    line-height: 1.4;
}

.orange-line {
    height: 2px;
    width: 100%;
    background-color: var(--orange);
}

.about-section>div>div:nth-child(2) span {
    font-weight: 500;
    font-size: 1.1rem;
}

.about-section .black-line {
    height: 5px;
    width: 20vw;
    background-color: black;
    position: absolute;
}

.about-section .black-line:nth-child(2) {
    top: 4%;
}

.about-section .black-line:nth-child(3) {
    right: 0;
    top: 96%;
}

.about-section .black-divider-line {
    height: 5px;
    width: 80%;
    margin: auto;
    background-color: black;
    margin-bottom: 0px;
}

.team-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 10%;
}

.team-member {
    padding: 1% 5% 5% 5%;
}

.team-grid .team-member:nth-child(1) {
    border-right: 3px solid black;
}

.team-member>div:nth-child(1) {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

#team-bruce>div>div {
    text-align: right;
}

#team-bruce p {
    text-align: right;
}

.team-member h3 {
    font-weight: 700;
    font-family: "Expletus Sans";
    font-size: 1.4rem;
    padding: 0 20px;
    margin: 0;
    letter-spacing: 1px;
}

.team-member h4 {
    font-weight: 500;
    font-family: "Exo";
    font-size: 1.1rem;
    padding-right: 50px;
    padding: 0 20px;
    margin: 0;
    color: var(--orange)
}

.team-grid .team-member:nth-child(1)>div {
    justify-content: flex-end;
}

.team-member img {
    height: 20vh;
}

.team-member .orange-divider-line {
    height: 3px;
    width: 60%;
    background-color: var(--orange);
    width: 50%;
    margin-bottom: 30px;
}

.team-grid .team-member:nth-child(2) .orange-divider-line {
    margin-left: 50%;
}

.team-member p {
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.25px;
}

.orange-running-line {
    height: 5px;
    width: 10%;
    background-color: var(--orange);
    animation: teamLine ease 5s infinite;
    position: relative;
}

@keyframes teamLine {
    0% {
        left: -10%
    }

    50% {
        left: 110%;
    }

    100% {
        left: -10%;
    }
}





/* Contact Section */

.contact-section {
    background-color: white;
    /* background-attachment: fixed; */
    position: relative;
}


.contact-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-column-gap: 2%;
    padding-bottom: 30px;
}

.contact-details i {
    transition: 0.6s;
    font-size: 1.2rem;
}

.contact-details p {
    transition: 0.6s;
}


.contact-details h3 {
    font-family: "Expletus Sans";
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    margin: 15px 0 25px 0;
}

.contact-details a {
    color: black;
    text-decoration: none;
}

.contact-details a:hover i {
    color: var(--orange);
}

.contact-details a:hover p {
    color: var(--orange);
    font-weight: 500;
}

.contact-section .section-text-left {
    padding: 5% 5% 5% 5%;
}

.contact-form {
    width: 100%;
    text-align: left;
}


.contact-form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 15px;
    padding-top: 40px;
}

.textarea {
    grid-column: 1/3;

}

textarea {
    resize: none !important;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid black;
    padding: 8px;
    outline: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 1px solid var(--orange);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: rgb(109, 109, 109);
    font-weight: 300;
    text-transform: capitalize;
}

.contact-form button {
    grid-column: 1/3;
    width: auto;
    margin: auto;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: transparent;
    border: 2px solid black;
    padding: 8px 25px;
    font-family: "Exo";
    transition: 0.6s;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--orange);
    border: 2px solid var(--orange);
    color: white;
}

form>div {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
    font-weight: 500;
}

.contact-section .black-line {
    height: 5px;
    width: 20vw;
    background-color: black;
    position: absolute;
}

.contact-section .black-line:nth-child(2) {
    top: 8%;
    right: 0;
}

.contact-section .black-line:nth-child(3) {
    left: 0;
    top: 92%;
}


/* Investments Section */

.investments-section {
    background-color: white;
    position: relative;
    padding: 3% 0;
}

.investments-section .section-grid-right {
    grid-template-columns: 60% 40%;
}


.investments-section .section-text p:nth-child(5) {
    line-height: 1.4;
}

.orange-line {
    height: 2px;
    width: 100%;
    background-color: var(--orange);
}

.investments-section .section-text>p:nth-child(1) {
    font-weight: 500;
    font-size: 1.1rem;
}

.invest-running-line {
    position: relative;
    height: 5px;
    width: 25%;
    background-color: var(--orange);
    animation: investLine 5s ease-in-out infinite;
}

@keyframes investLine {
    0% {
        left: -25%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: -25%;
    }
}

.investment-focus {
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 0 5% 5% 5%;
}

.investment-focus>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.investment-focus>div:nth-child(1) {
    padding-right: 30px;
    border-right: 2px solid black;
}

.investment-focus>div:nth-child(1) p {
    font-weight: 500;
    font-size: 1.1rem;
}

.investment-focus>div:nth-child(1) p span {
    color: var(--orange);
    text-decoration: underline;
}

.investment-focus>div:nth-child(2) {
    padding-left: 30px;
    line-height: 1.4;
}







/* Funders Section */

.funders-section {
    padding: 3% 0;
}


.funders-section .section-text>p:nth-child(1) {
    font-weight: 500;
    font-size: 1.1rem
}






/* Footer */

footer {
    text-align: center;
    border-top: 1px solid black;
}

footer img {
    width: 15%;
}

.footer-nav a {
    text-decoration: none;
    margin: 0 20px;
    color: black;
    text-transform: uppercase;
    transition: 0.5s;
}

.footer-nav {
    margin-bottom: 20px;
}

.footer-nav a:hover {
    transform: scale(1.1);
    color: var(--orange);
    font-weight: 500;
}

footer p {
    font-weight: 300;
    margin: 0;
    font-size: 0.8rem;
}

.footer-copy {
    margin-bottom: 10px;
}


.footer-copy a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: 0.5s;
}

.footer-copy a:hover {
    transform: scale(1.1);
    color: var(--orange);
}

footer .orange-divider-line {
    height: 2px;
    width: 30%;
    margin: auto;
    background-color: var(--orange);
    margin-bottom: 20px;
}

/* Paralax */

.parallax-section {
    height: 40vh;
    background-image: url("../images/other/paralax.jpg");
    background-position: left bottom;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    cursor: pointer;
}

.parallax-section h1 {
    position: relative;
    font-weight: 300;
    font-size: 45px;
    text-transform: uppercase;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.parallax-section h1 span {
    font-size: 50px;
    color: var(--orange);
    font-weight: 400;
}